a{text-decoration: none;}

h1,#copyright{text-align: center;}

#pjlist{
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    border-radius: 16px;
}

#pjlist li, #pjlist li a img{
    height: 180px;
    border-radius: 2px;
}
#pjlist li{
    box-sizing: border-box;
    width: 100%;
    display: block;
    background-color: white;
    border: 2px solid #999;
    margin: 16px 0;
}
#pjlist li a{
    width: 100%;
	color: #009ec5;
	text-decoration: none;
	margin: auto;
}
#pjlist li a img{
    max-width: 36%;
    max-height: 100%;
    width: 300px;
    float: left;
    margin-right: 22px;
}
#pjlist h3{
    margin: 14px 0;
}